[submodule "rules/elastic/protections-artifacts"]
	path = rules/elastic/protections-artifacts
	url = https://github.com/elastic/protections-artifacts.git
[submodule "rules/AlienVault-Labs/AlienVaultLabs"]
	path = rules/AlienVault-Labs/AlienVaultLabs
	url = https://github.com/AlienVault-Labs/AlienVaultLabs.git
[submodule "rules/anyrun/YARA"]
	path = rules/anyrun/YARA
	url = https://github.com/anyrun/YARA
[submodule "rules/bartblaze/Yara-rules"]
	path = rules/bartblaze/Yara-rules
	url = https://github.com/bartblaze/Yara-rules
[submodule "rules/CyberDefenses/CDI_yara"]
	path = rules/CyberDefenses/CDI_yara
	url = https://github.com/CyberDefenses/CDI_yara
[submodule "rules/eset/malware-ioc"]
	path = rules/eset/malware-ioc
	url = https://github.com/eset/malware-ioc/
[submodule "rules/malpedia/signator-rules"]
	path = rules/malpedia/signator-rules
	url = https://github.com/malpedia/signator-rules
[submodule "rules/rapid7/Rapid7-Labs"]
	path = rules/rapid7/Rapid7-Labs
	url = https://github.com/rapid7/Rapid7-Labs
[submodule "rules/roadwy/DefenderYara"]
	path = rules/roadwy/DefenderYara
	url = https://github.com/roadwy/DefenderYara
